<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mifincaapp.mifincaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controlPeso"
            android:label="@string/title_activity_control_peso"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controlPeso_registrar"
            android:label="@string/title_activity_control_peso_registrar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".control_peso_buscar" />
        <activity android:name=".control_peso_editar" />
        <activity android:name=".control_peso_eliminar" />
        <activity android:name=".ganadoCambios" />
        <activity android:name=".cambios_reidentificacion" />
        <activity android:name=".cambiosBajas" />
        <activity
            android:name=".Inventario"
            android:label="@string/title_activity_inventario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inventario_registrar"
            android:label="Registrar Inventario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inventario_modificar"
            android:label="Modificar Inventario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Control_reproductivo"
            android:label="Listado Reproductivo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Control_reproductivo_registrar"
            android:label="Control Reproductivo"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Control_reproductivo_modificar"
            android:label="Control Reproductivo"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>